<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
        <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="ni ni-cloud-upload-96 mr-2"></i> text
            </ng-template>
              <ng-template ngbTabContent>
                
                    <div class="card-body">
                      <div class="icon icon-shape icon-shape-warning rounded-circle mb-4"  style="margin-right: 10 px ;">
                        <i class="ni ni-bulb-61"></i> 
                      </div> <span class="text-warning "> What sentence you want to guess its emotions ? </span>
                      <form class="example-form">                
                        <mat-form-field class="example-full-width" [style.width.px]=500 >
                          <mat-label>Please enter your text </mat-label>
                          <textarea matInput [style.height.px]=190 ></textarea>
                        </mat-form-field>
                      </form>
                      <a (click)="test()" class="btn btn-warning mt-4"> Enjoy ! </a>
                    
            </div>
              </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle >
              <i class="ni ni-cloud-upload-96 mr-2"></i> upload file
            </ng-template>
              <ng-template ngbTabContent>
            
              <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
                <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
              </div>
                <div  class="files-list" *ngFor="let file of files;let i=index">
                  <p>{{ file }}</p>
                  <button class="delete-file" (click)="deleteAttachment(i)">
                    <img src="../../assets/Recycle_Bin_Full.png">
                  </button>
                </div>
                <div class="col-lg-5">
                  <div class="progress-wrapper">
                    <div class="progress-info">
                      <div class="progress-label">
                        <span>Task completed</span>
                      </div>
                      <div class="progress-percentage">
                        <span>40%</span>
                      </div>
                    </div>
                    <ngb-progressbar type="default" [value]="25"></ngb-progressbar>
                  </div>
                
                </div>
              </ng-template>
          </ngb-tab>
      </ngb-tabset>
           
      
    </div>
  </section>
 
</main>
